.delete {
  height: 15%;
  width: 20%;
  display: none;
  text-align: center;
}

.edit {
  display: none;
  text-align: center;
}

.add {
  display: none;
  text-align: center;
}

.content-main_report {
  margin-top: 2%;
  margin-left: 65%;
  width: 50%;
}
