.fixed-container {
  min-height: 100%;
  width: 777px;
  position: relative;
}

.header {
  background-color: rgb(74, 128, 83);
}
.header-photo {
  background-image: url("../images/header.jpg");
  height: 76px;
}
.header p {
  text-align: right;
  padding-right: 2%;
  color: rgb(255, 255, 255);
  font-size: 130%;
  font-weight: 200;
}

.content {
  padding-bottom: -58px;
}
.content-divider {
  background-image: url("../images/divider.gif");
  height: 222px;
  width: 1%;
  float: right;
  margin-top: -135%;
}
.content-header {
  color: rgb(52, 111, 109);
}
.content-form {
  width: 95%;
  font-size: 13px;
}
.content-form tr:nth-child(even) td {
  background-color: rgb(223, 232, 223);
}
.content-form_label {
  width: 30%;
  padding-left: 1%;
}
.content-form tr td > input {
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.content-form tr td > textarea {
  margin-top: 1%;
}
.content-form_next {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 58px;
}
.footer-photoPole {
  background-image: url("../images/footer-pole.gif");
  background-repeat: no-repeat;
  height: 33px;
}
.footer-photoBase {
  background-image: url("../images/footer-base.gif");
  background-repeat: no-repeat;
  height: 25px;
}
