caption {
    display: table-caption;
    text-align: -webkit-center;
}

.content-form tr td > input {
	width: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

.content-form tr td select {
  margin: 1px 0px 1px 0px;
  width: 20%;
}
