.fixed-container {
  min-height: 100%;
  width: 777px;
  position: relative;
}

.header {
  background-color: rgb(74, 128, 83);
}
.header-photo {
  background-image: url("../images/header.jpg");
  height: 76px;
}
.header p {
  text-align: right;
  padding-right: 2%;
  color: rgb(255, 255, 255);
  font-size: 130%;
  font-weight: 200;
}

.content {
  padding-bottom: -58px;
}
.content-header {
  color: rgb(52, 111, 109);
}
.content-form {
  width: 95%;
  font-size: 13px;
}
.content-form tr:nth-child(even) td {
  background-color: rgb(223, 232, 223);
}
.content-form_label {
  width: 30%;
  padding-left: 1%;
}
.content-form tr td > input {
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.content-form tr td > textarea {
  margin-top: 1%;
}
.content-form_next {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 58px;
}
.footer-photoPole {
  background-image: url("../images/footer-pole.gif");
  background-repeat: no-repeat;
  height: 33px;
}
.footer-photoBase {
  background-image: url("../images/footer-base.gif");
  background-repeat: no-repeat;
  height: 25px;
}


/** MAIL INFORMATION PART (under renovation)

#cb-content {
    background: white;
    margin: 0;
    padding: 0;
    width: 569px;
    float: left;
}

.cb-content {
    font: normal 12px "Trebuchet MS", Helvetica, Georgia, sans-serif;
    color: black;
    line-height: 16px;
    margin: -16px 15px 15px 12px;
    padding: 0;
    float: none;
    clear: left;
}

#smh-search form, .cb-content form {
    font: normal 11px Verdana, Helvetica, Georgia, sans-serif;
    margin: 0;
    padding: 0;
}

.smh-search input, .cb-content input, .cb-content textarea, .s-button, .c-button {
    font: normal 11px Verdana, Helvetica, Georgia, sans-serif;
    border: 1px solid #7f9db9;
    color: #7c7c7c;
    padding: 2px;
    margin: 0;
}

.cb-content h3 {
    margin-top: 28px !important;
}

.cb-content h3 {
    font: bold 16px Arial, Helvetica, Georgia, sans-serif;
    color: green;
    float: none;
    clear: left;
}

.cb-content table {
    border: 1px solid #209720;
}

.cb-content caption {
    color: #ffffff;
    background-color: #26b226;
    padding: 3px 2px 3px 2px;
    font-weight: bold;
    border-top: 1px solid #22a122;
    border-left: 1px solid #22a122;
    border-right: 1px solid #22a122;
}

.cb-content thead td {
    color: #fdf9c4;
    background-color: #378C09;
    font-weight: bold;
    border-left: 1px solid #2d7e01;
}

.cb-content tr td {
    font: normal 12px "Trebuchet MS", Helvetica, Georgia, sans-serif;
    padding: 2px 6px;
}

.cb-content tbody tr.even td {
    background: #f5f7f2;
}

.cb-content tbody td, .cb-content tfoot td {
    border-left: 1px solid #d9d9d9;
}

.smh-search select, .cb-content select {
    font: normal 11px Verdana, Helvetica, Georgia, sans-serif;
    border: 1px solid #7f9db9;
    color: #7c7c7c;
    padding: 0;
}

.cb-content a:link, .cb-content a:visited, .cb-content a:active {
    color: #347b00;
    text-decoration: none;
    background: url(https://omega1.dlsu.edu.ph/_images/_tmpl1/cb-hover-bg.gif) repeat-x 100% 100%;
}

.s-button, .c-button {
    padding: 1px !important;
    border: 1px solid #298A28 !important;
    background-color: #3EB03D !important;
    color: #fff !important;
}

/** END OF MI PART **/