.jumbotron {
    margin-bottom: -2%;
}
.jumbotron button {
    margin-top: 2%;
}

.document_table {
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin-top: 1%;
}

tbody tr:first-child {
    background-color: #0094ff;
    color: white;
}