.search_bar {
    display: inline;
}
.search_bar input {
    margin-top: 2%;
    width: 430px;
    display: inline;
}
.search_bar button {
    display: inline;
}

.main_report {
    font-size: 120%;
}
table thead {
    background-color: #0094ff;
    color: white;
}
.table-fluid tbody tr td:last-child {
    text-align:right;
}