.search_bar {
    display: inline;
}
.search_bar input {
    margin-top: 2%;
    width: 430px;
    display: inline;
}

.main_report table thead {
    color: white;
     background-color: #7FAD82;
}

.table-fluid tbody tr td:last-child {
    text-align:right;
}

textarea {
    resize: none;
}