body {
  background-color: #61788e;
  margin-left: 250px;
}

.header {
  height: 80px;
  background-color: #569686;
  position: fixed;
  top: 0;
  left: 250;
  width: 100%;
}
.header p {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  bottom: 0;
  font-size: 200%;
  margin-left: 1%;
}
.header p, .header img {
    display: inline;
}

.sidebar {  
  position: fixed;
  top: 250;
  left: 0;
  min-height: 100%;
  width: 250px;
  background-color: #2F444D;
  padding-top: 1%;
}
.sidebar ul li a {
    color: white !important;
}
.sidebar ul li a:hover {
    background-color: #6FBEDE;
}
.sidebar_logo {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: #364F59;
  width: 250px;
  text-align: center;
}
.sidebar_logo img {
    width: 50px;
    height: auto;
    margin: 5% auto;
}

.content {
    background-color: #61788e;
    min-height: 100%;
    margin-top: 80px;
    padding-top: 2%;
}
.content-main div {
    background-color: #F0F0F0;
}
.content-main table {
  text-align: center;
}
.content-main_report {
  margin-top: 2%;
  margin-left: 70%;
  width: 30%;
}
.content-main td button {
  width: 80px;
}
.scroll {
    height: 60%;
    overflow-x: scroll;
}
/*.content-scrolling {
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.content-scrolling div {
  background-color: white;
  border-radius: 5px;
  padding: 1% 1% 1% 1%;
  margin-top: 1%;
}*/

.content-form {
  width: 95%;
  font-size: 13px;
}
.content-form tr:nth-child(even) td {
  background-color: rgb(223, 232, 223);
  padding-left:5px;
}
.content-form_label {
  width: 30%;
  padding-left: 5px;
}
.content-form_next {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}

.popup-background {
    height: 100%;
    width: 100%;
    background:rgba(210,210,210,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.popup {
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 0 1% 1% 1%;
}
.popup_center_align {
    text-align: center;
}
.popup textarea {
  resize: none;
}
