.jumbotron {
    margin-bottom: -2%;
}

#add_document_modal {
    display: block;
}

.document_table {
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

tbody tr:first-child, th {
    text-align: center;
    background-color: #0094ff;
    color: white;
}

.table-hover>tbody>tr:first-child:hover {
    background-color: #0094ff;
    color: white;
}

table td:nth-child(4), td:nth-child(5) {
    text-align: right;
}