body {
  padding-bottom: 70px;
  overflow: auto;
}

p {
  text-align: justify;
}

textarea {
  resize: none;
}

.fixed-container {
  min-height: 100%;
  position: relative;
}
.header {
    background: rgba(50,68,34,1);
    background: -moz-linear-gradient(top, rgba(50,68,34,1) 0%, rgba(56,97,62,1) 68%, rgba(121,156,119,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,68,34,1)), color-stop(68%, rgba(56,97,62,1)), color-stop(100%, rgba(121,156,119,1)));
    background: -webkit-linear-gradient(top, rgba(50,68,34,1) 0%, rgba(56,97,62,1) 68%, rgba(121,156,119,1) 100%);
    background: linear-gradient(to bottom, rgba(50,68,34,1) 0%, rgba(56,97,62,1) 68%, rgba(121,156,119,1) 100%);
}
.header p {
  text-align: right;
  padding-right: 2%;
  color: rgb(255, 255, 255);
  font-size: 130%;
  font-weight: 200;
}
.header-photo {
	height: 120px;
   	background-image: url("../images/header.jpg"); 
   	background-size: 100% 100%;
}
@media (max-width: 480px) { 
			.header-photo {
   				background-image: url("../images/mobileheader.jpg"); 
   				background-size: 100% 100%;
			}
		}
.content {
  padding-bottom: -58px;
}
.content ul {
  list-style: none;
  padding-left: 0;
}
.content-divider {
  background-image: url("../images/divider.gif");
  height: 222px;
  width: 1%;
  float: right;
  margin-top: -86%;
}

.btn-primary {
      color: forestgreen !important;


}

.content-header {
  color: rgb(52, 111, 109);
}
.content-form {
  width: 95%;
  font-size: 13px;
}
.content-form tr:nth-child(even) td {
  background-color: rgb(223, 232, 223);
}
.content-form_label {
  width: 30%;
  padding-left: 1%;
}
.content-form tr td > input {
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.content-form tr td > textarea {
  margin-top: 1%;
}
.content-form_next {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}

.footer-photoPole {
  background-image: url("../images/footer-pole.gif");
  background-repeat: no-repeat;
  height: 33px;
}
.footer-photoBase {
  background-image: url("../images/footer-base.gif");
  background-repeat: no-repeat;
  height: 25px;
}

.hidden {
  display: none;
}